#navParent{
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 2%;
    font-weight: 600;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}
#logo{
    border-radius: 100%;
    width: 50px;
    margin-left: 2%;
}
#space{
    flex-grow: 6;

}
#home{
    flex-grow: 1;
}
#about{
    flex-grow: 1;
}
#contact{
    flex-grow: 1;
}











#parentDiv{
    display: flex;
    flex-direction: row;
    border: 10px solid rgb(210, 4, 45);
    margin-top: 4%;
    flex-wrap: wrap;  
}
body{
    background-color: rgba(47,79,79,0.9);
    color: white;
}
#content{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    flex: 40%;
    padding:1%;
}
#content p{
    font-size: 1.2rem;
    text-align: justify;
}
#text{
    flex-grow: 1;  
}
.deadSpace{
    flex-grow: 1;    
}
#buttonParent{
    display: flex;
    flex-direction: row;
}
#button{
    flex-grow: 1;
}
#spaceButton{
    flex-grow: 1; 
}

#image{
    flex-grow: 2;
    padding: 1%;
}
.button{
    background: #4CAF50;
    border: none;
  color: white;
  font-size: 1em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: 60%;
  border-radius: 2%;
}
